@import 'meyer-reset.css';

.overflowing {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body, html {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
  
.container {
    text-align: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "sidebar-section header-section" "sidebar-section main-section";
}

.container div {
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

/* -------------------- Header ---------------------- */ 

.header {
    background-color: white;
    grid-area: header-section;
    display: grid;
    grid-template: 1fr 1.5fr / 1fr max-content;
    grid-template-areas: "search-bar top-icons" "bottom-header button-id";
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding-top: 10px;
}

.header div {
    color: black;
}


/* ---- Top section ---- */
.search-bar {
    grid-area: search-bar;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar > * {
    padding: 10px;
}

.search-bar input[type=text] {
    width: 100%;
    float: right;
    padding: 6px;
    border: none;
    font-size: 15px;
    background-color: #bccbde76;
    border-radius: 15px;
}

.search-bar a img {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}


/* Top Icons */
.top-icons {
    grid-area: top-icons;
    width: 80%;
}

.top-icons ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 5px;
    padding-top: 10px;
}

.top-icons ul .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    border-radius: 10px;
    padding: 2px;
}

.top-icons ul .icon:first-child {
    justify-content: flex-end;
}

.top-icons ul .icon:last-child {
    justify-content: flex-start;
    font-size: 0.7rem;
}

.notification img { 
    height: 20px;
    width: 20px;
}

.profile-pic img{
    height: 55px;
    width: 55px;
}


/* --- Bottom section --- */

/* header section */

.header-bottom {
    grid-area: bottom-header;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
}


.header-bottom > a,
.header-bottom > .intro {
    padding-left: 10px;
}

.header-bottom a img {
    height: 70px;
    width: 70px;
}

.header-bottom h5 {
    font-size: 0.7rem;
    text-align: left;
    margin-bottom: 4px;
}

.header-bottom h3 {
    font-size: 1rem;
}

/*button-section*/

.button-area {
    grid-area: button-id;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.button-area ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.button-area ul .btn {
    background-color: rgb(21, 122, 181);
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    font-weight: 700;
    color: white;
}



/* -------------------- Sidebar ---------------------- */

.sidebar {
    background-color: #FF7755;
    grid-area: sidebar-section;
    width: fit-content;
    display: flex;
    flex-direction: column;
    color:#FFFFFF
}

top {
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 2px 10px 2px;
}

middle {
    justify-content: flex-start;
    padding: 10px 2px 10px 2px;
}

bottom {
    justify-content: flex-start;
    padding: 10px 2px 0px 2px;
}

.dashboard:hover {
    transform: scale(1.05);
    font-size:1.5rem;
    transition: 0.2s ease-out;
}

.icons:hover {
    transform: scale(1.1);
    font-size:0.9rem;
    transition: 0.2s ease-out;
}

.dashboard {
    display: flex;
    align-items: center;    
}

.dashboard a , .icons a{
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

.dashboard a {
    font-size: 1.3rem;
}


.dashboard img, .icons img {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.dashboard img {
    height: 40px;
    width: 40px;
}

.icons {
    display: inline-block;
    text-align: left;
    width: 90%;
    margin: -10px;
}

.icons img {
    height: 15px;
    width: 15px;
}

.icons a {
    font-size: 0.8rem;
}






/* ---------------------- Main Section ------------------ */

.main-section {
    grid-area: main-section;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-template-areas: "project-section announcement-section" "project-section trending-section";
    background-color: #bccbde69;
    padding: 20px;
}

/*- Projects -*/

.projects {
    grid-area: project-section;
}

.projects h3 {
    text-align: left;
    color: black;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px;
}

.project-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-tiles p {
    font-family: sans-serif;
    text-align: left;
    line-height: 1.2;
}

.project-tiles .card {
    background-color: #FFFFFF;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border-left: 10px solid rgb(21, 122, 181);
    padding: 30px 15px 20px 15px;
}

.project-text {
    padding-right: 20px;
    max-width: 80%;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.project-icon {
    align-self: flex-end;
    padding-top: 20px;
}

.project-icon a {
    padding: 10px;
}

.project-icon img {
    height: 20px;
    width: 20px;
}

.card p {
    color: rgba(0, 0, 0, 0.455);
    font-weight: normal;
    font-size: 14px;
    padding: 2px;
}
  
.card .title {
    font-size: 16px;
    font-weight: 700;
    color: black
}


/* ----------------- Announcements ----------------- */

.announcement {
    grid-area: announcement-section;
}

.announcement h3 {
    text-align: left;
    color: black;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px;
}

.announcement-tiles {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.announcement-tiles .tile {
    color: black;
    text-align: left;
    height: 1fr;
    border-bottom: solid #bccbde84;
    
}

.tile .title {
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    color: black;
}

.tile p {
    color: rgba(0, 0, 0, 0.455);
    font-weight: normal;
    font-size: 10px;
    line-height: 1.2;
    margin: 10px;
    max-width: 80%;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.announcement-tiles .tile:last-child {
    border-bottom: none;
}
  



/*  ---------------- Trending -------------- */

.trending {
    grid-area: trending-section;
}

.accounts {
    font-family: sans-serif;
}

.accounts .ac-1 {
    background-color: white;
    color: black;
    height: 1fr;
    text-align: left;
    font-size: 12px;
    padding: 5px;
}