@import 'meyer-reset.css';

.overflowing {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body, html {
    height: 100%;
    margin: 0;
  }
  
.container {
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;

}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

/* Header */ 

.header {
    background-color: #FFDE22;
    grid-column: 2 / 4;
    display: grid;
    grid-template: 1fr 1fr / 6fr 1fr 1fr 1fr;
}

.search-bar {
    justify-self: start;
}

.icon-2 {
    justify-self: start;
}

/* Sidebar */

.sidebar {
    background-color: #FF7755;
    grid-row: 1 / 4;
}



/* Projects */

.projects {
    background-color: #00DDFF;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.project-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.project-tiles p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.project-tiles .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 100px;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
}
  
.card .title {
    font-size: 18px;
    text-align: center;
}


/* Announcements */

.announcement {
    background-color: #bccbde;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.announcement-tiles p {
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.announcement-tiles .tile {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 100px;
    border-bottom: solid #bccbde;
}

.tile p {
    color: black;
    font-weight: normal;
    font-size: 10px;
    padding: 5px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
  
.tile .title {
    font-size: 12px;
    font-weight: 700;
    text-align: left;
}


/* Trending */

.trending {
    background-color: #393f4d;
    grid-column: 3 / 4;
}